<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet/app.css">
    <script src="javascript/lib/jquery-3.3.1.min.js"></script>
    <script src="javascript/lib/vue.min.js"></script>
    <script src="javascript/lib/bootstrap.min.js"></script>
    <script src="javascript/lib/underscore-min.js"></script>
    <script src="javascript/lib/lazysizes.js"></script>
    <script src="javascript/tag_button.js"></script>
    <script src="javascript/music_list_item.js"></script>
    <script src="javascript/app.js"></script>
    <script src="javascript/pagetop.js"></script>
</head>

<body>
<div class="container">
    <div id="app"></div>
</div>
<script id="app-template" type="text/x-template">
    <div>
        <div class="row">
            <div class="col-md-9 balloon">
                <div class="mx-auto w-100 text-center">
                好きな曲のイメージを選んでください！<br>
                先に選ぶほど優先されますよ～<br>
                    現在<span class="remainMusicNum">{{animationNum}}</span>曲あります
                </div>
                <tag-button v-for="tag in tags" :tagName="tag" :musics="musics" :selectedTags="selectedTags" @tag-clicked="onTagClicked" />                
            </div>
            <div class="col-md-3">
                <img style="width: 100%;" :src="misakiImage()" id="misaki">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-3" style="text-align: center;">
                <button class="btn btn-lg btn-primary w-100" @click="onResultClicked">
                    結果を見る
                </button>
            </div>
            <div class="col-md-4 mt-3" style="text-align: center;">
                <button class="btn btn-sm btn-warning w-100" @click="onCancelClicked">
                    選択を全て外す
                </button>
            </div>
        </div>

        <div v-show="showResult" ID="result">
            <h2>結果</h2>
            <!--
            <select v-model="primaryTag" class="form-control w-25">
                <option v-for="selectedTag in selectedTags" :value="selectedTag">
                    「{{selectedTag}}」優先
                </option>
            </select>
            -->
            <table class="table">
                <music-list-item v-for="music in matchedMusics.slice(0, resultLimit)" :music="music">
                     <!-- <td>
                       デバッグ用タグ表示
                        <span v-for="(weight, tagName) in music.tags" :class="'badge badge-pil ' + (_.contains(selectedTags, tagName) ? 'badge-success':'badge-info')" style="margin: 0 4px">
                            {{tagName}}:{{weight}}
                        </span>
                    </td> -->
                </music-list-item>
            </table>
            <p id="pagetop"><a href="#wrap">お気に入りの曲に出会えましたか～？</a></p>
        </div>
    </div>
</script>

</body>
</html>
